html {
	--appColorPrimary: #F64C72;
	--appColorPriAccent: #553D67;
	--appBGColor: #383845;
	--appBGColorAccent: #2F2FA2;
	--appAccentColor: #99738E;
	--appTextColor: #FFF;
}

body {
	background-color: var(--appBGColor);
	color: var(--appTextColor);
}

h1 {
	font-size: 2rem;
}

h3 {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

button {
	background-color: var(--appColorPrimary);
	border: 2px solid var(--appColorPrimary);
	border-radius: 5px;
	color: var(--appTextColor);
	cursor: pointer;
	font-weight: bold;
	padding: 3px;
	user-select: none;
}
